@model ProductsListViewModel
@{
    ViewData["Title"] = "ListAdmin";
    Layout = "_LayoutAdmin";
}

<script src="/js/ShowSecondOnMouseOver.js"></script>



@foreach (var product in Model.ProductAndImages)
{

    <div>
        <span>@product.product.Name</span>
        <span>@product.product.Price</span>
        <div>@product.product.Description</div>

        @if (product.product.NewProduct)
        {
            <div style="background-color: red; width: 100px;">NEW</div>
        }
        @{
            try
            {
                if (product.Images.Count > 0 && product.Images.FirstOrDefault(f => f.FirstOnScreen).Name != null && product.Images.FirstOrDefault(f => f.SecondOnScreen).Name != null)
                {
                    <img src="/images/@product.Images.FirstOrDefault(f => f.FirstOnScreen).Name" id="@product.product.ProductID" name="FirstAndSecondImages" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)" style="width: 100px; height: 100px;" alt="@product.Images.FirstOrDefault(f => f.FirstOnScreen).Alternative">
                    <input type="hidden" name="FirstAndSecondImages" imageName="/images/@product.Images.FirstOrDefault(f => f.FirstOnScreen).Name" imageAlternative="@product.Images.FirstOrDefault(f => f.FirstOnScreen).Alternative" />
                    <input type="hidden" name="FirstAndSecondImages" imageName="/images/@product.Images.FirstOrDefault(f => f.SecondOnScreen).Name" imageAlternative="@product.Images.FirstOrDefault(f => f.SecondOnScreen).Alternative" />
                }
                else
                {
                    <img src="/images/none.png" style="width: 100px; height: 100px;" alt="None Image">
                }
            }
            catch
            {
                <img src="/images/none.png" style="width: 100px; height: 100px;" alt="None Image">
            }
        }

        <input type="hidden" name="ProductID" value="@product.product.ProductID" />
        <a asp-controller="Admin" asp-action="Edit" asp-route-productid="@product.product.ProductID">Изменить</a>
        <a asp-controller="Admin" asp-action="Delete" asp-route-productId="@product.product.ProductID">Удалить</a>
    </div>

}



