@using System.Globalization
@model OrderListViewModel
@{
    ViewData["Title"] = "ListOrder";
    Layout = "_LayoutAdmin";
    List<TypeColor> bindedColors = TempData["BindedColors"] as List<TypeColor> ?? new List<TypeColor>();
}

@section scripts{
    <script src="/js/GetIdForExcelDownload.js"></script>
}
<h2>Таблица заявок</h2>
<div>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="ListOrder"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-dark">
            Назад
        </a>
    }
    @if (Model.PageViewModel.PageNumber != 1)
    {
        <a asp-action="ListOrder" asp-route-page="1">1</a>
    }

    @for (int i = 1; i <= 3; i++)
    {
        if (Model.PageViewModel.PageNumber - i > 1)
        {
            int temp = Model.PageViewModel.PageNumber - i;
            <a asp-action="ListOrder" asp-route-page="@temp">@temp</a>
        }
    }
    
    <a asp-action="ListOrder" asp-route-page="@Model.PageViewModel.PageNumber" style="color: red;">@Model.PageViewModel.PageNumber</a>
    

    @for (int i = 1; i <= 3; i++)
    {
        if (Model.PageViewModel.PageNumber + i < Model.PageViewModel.TotalPages)
        {
            int temp = Model.PageViewModel.PageNumber + i;
            <a asp-action="ListOrder" asp-route-page="@temp">@temp</a>
        }
    }
    @if (Model.PageViewModel.PageNumber != Model.PageViewModel.TotalPages)
    {
        <a asp-action="ListOrder" asp-route-page="@Model.PageViewModel.TotalPages">@Model.PageViewModel.TotalPages</a>
    }

    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="ListOrder"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-dark btn">
            Вперед
        </a>
    }
</div>
@if (Model.Orders.Any())
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Выбрать</th>
            <th>Дата создания</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Продукт</th>
            <th colspan="2"></th>
            <th colspan="2">Статус</th>
            <th>Детали</th>

        </tr>
        @foreach (var o in Model.Orders)
        {
            decimal totalPrice = 0;
            <tr>
                <td><input type="checkbox" value="@o.OrderID" name="checkedOId" /></td>
                @{
                    string dateOfCreation = o.DateOfCreation != null ? o.DateOfCreation.ToString() : "Неизвестно";
                }
                <td>@dateOfCreation</td>
                <td>@o.FirstName</td>
                <td>@o.Phone</td>
                <th>Название продукта</th>
                <th>Количество</th>
                <th>Цена</th>
                @if (o.Status == (int)OrderStatus.NotSended)
                {
                    <td>Не отправлено</td>
                }
                else if (o.Status == (int)OrderStatus.Waiting)
                {
                    <td>Ожидание</td>
                }
                else
                {
                    <td>Отправлено</td>
                }
                <td>
                    <form asp-action="ChangeStatus" asp-route-orderId="@o.OrderID">
                        <select name="status">
                            <option disabled>Выберите статус</option>
                            @if (o.Status == (int)OrderStatus.Waiting)
                            {
                                <option value="@Convert.ToInt32(OrderStatus.NotSended)">Не отправлено</option>
                                <option selected value="@Convert.ToInt32(OrderStatus.Waiting)">Ожидание</option>
                                <option value="@Convert.ToInt32(OrderStatus.Sended)">Отправлено</option>
                            }
                            else if (o.Status == (int)OrderStatus.NotSended)
                            {
                                <option selected value="@Convert.ToInt32(OrderStatus.NotSended)">Не отправлено</option>
                                <option value="@Convert.ToInt32(OrderStatus.Waiting)">Ожидание</option>
                                <option value="@Convert.ToInt32(OrderStatus.Sended)">Отправлено</option>
                            }
                            else
                            {
                                <option value="@Convert.ToInt32(OrderStatus.NotSended)">Не отправлено</option>
                                <option value="@Convert.ToInt32(OrderStatus.Waiting)">Ожидание</option>
                                <option selected value="@Convert.ToInt32(OrderStatus.Sended)">Отправлено</option>
                            }
                        </select>
                        <button class="btn btn-sm btn-danger">Изменить</button>
                    </form>

                </td>
                <td><a asp-action="ChangeOrder" asp-route-orderId="@o.OrderID" class="btn btn-sm btn-danger">Подробно</a></td>
            </tr>
            foreach (var line in o.Lines)
            {
            <tr>
                <td colspan="4"></td>
                <td>@line.Product.Name</td>
                <td>@line.Quantity</td>
                @{
                    decimal price = line.PriceAfterCheckout;
                    if (line.KoefPriceAfterCheckout != null)
                    {
                        if (line.FakeShare == true)
                        {
                            price = price / 100 * (decimal) (line.KoefPriceAfterCheckout + 100);
                        }
                        else
                        {
                            price = price / 100 * (decimal) (100 - line.KoefPriceAfterCheckout);
                        }
                        if (line.PriceAfterCheckout > price)
                        {
                            <td class="text-right"><del>@line.PriceAfterCheckout.ToString(CultureInfo.InvariantCulture)</del>@price.ToString(CultureInfo.InvariantCulture) грн.</td>
                        }
                        else
                        {
                            <td class="text-right"><del>@price.ToString(CultureInfo.InvariantCulture)</del>@line.PriceAfterCheckout.ToString(CultureInfo.InvariantCulture) грн.</td>
                        }

                    }
                    else
                    {
                        <td class="text-right">@price.ToString(CultureInfo.InvariantCulture) грн.</td>

                    }
                    if (line.PriceAfterCheckout > price)
                    {
                        totalPrice += line.Quantity * price;
                    }
                    else
                    {
                        totalPrice += line.Quantity * line.PriceAfterCheckout;
                    }
                }
            </tr>
                <tr>
                    <td colspan="4"></td>
                    <th>Фурнитура</th>
                    @if (line.Furniture == (int)Furniture.Nikel)
                    {
                        <td>Никель</td>
                    }
                    else
                    {
                        <td>Антик</td>
                    }
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <th>Цвет</th>
                    @{
                        string colorName = bindedColors.FirstOrDefault(cn => cn.TypeColorID == line.SelectedColor)?.ColorType ?? "Неизвестный";
                    }
                    <td>@colorName</td>
                </tr>
            }
            <tr>
                <td colspan="4"></td>
                <th>Общая цена</th>
                <td colspan="2">@totalPrice.ToString(CultureInfo.InvariantCulture) грн.</td>
            </tr>

        }
    </table>
    <form id="excelForm" asp-action="DownloadExcel">
        <button onclick="CollectId()">Скачать Excel</button>
        <div style="display: none" id="excelIdContainer"></div>
        <button id="ExcelSubmitButton" type="submit" style="display: none"></button>
    </form>

}
else
{
    <div class="text-center">Заявок нету</div>
}