@model Share

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}



<h3 style="margin: auto; width: 300px;">Вы точно хотите удалить акцию?</h3>
<div style="margin: auto; width: 300px;">
    <h4>Акция</h4>
    <hr />
    <div>Дата начала акции</div>
    <div style="font-weight: bold;">@Model.DateOfStart</div>
    <div>Дата конца акции</div>
    <div style="font-weight: bold;">@Model.DateOfEnd</div>
    <div>Включена/Выключена</div>
    @if (@Model.Enabled)
    {
        <div style="font-weight: bold;">Вкл</div>
    }
    else
    {
        <div style="font-weight: bold;">Выкл</div>
    }
    <div>Фейк вкл/выкл</div>
    @if (@Model.Fake)
    {
        <div style="font-weight: bold;">Вкл</div>
    }
    else
    {
        <div style="font-weight: bold;">Выкл</div>
    }
    <div>Коеф. снижения цены</div>
    @{
        string koefString = Model.KoefPrice + "%";
    }
    <div style="font-weight: bold;">@koefString</div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ShareId" />
        <button type="submit" value="Delete" class="btn btn-danger" >Удалить</button>
        <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
    </form>
</div>
