
@{
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
    string magazinePage = "";
    string delivery = "";
    string payment = "";
    string guarantees = "";
    string aboutTheBrand = "";
    string ourShowRoom = "";
    string deliveryDepartment = "";
    string bayer = "";
    string partnership = "";
    string vacancy = "";
    
    switch (action)
    {
        case "Delivery":
            delivery = "active";
            break;
        case "Payment":
            payment = "active";
            break;
        case "Guarantees":
            guarantees = "active";
            break;
        case "AboutTheBrand":
            aboutTheBrand = "active";
            break;
        case "OurShowRoom":
            ourShowRoom = "active";
            break;
        case "DeliveryDepartment":
            deliveryDepartment = "active";
            break;
        case "Bayer":
            bayer = "active";
            break;
        case "Partnership":
            partnership = "active";
            break;
        case "Vacancy":
            vacancy = "active";
            break;
            default:
                switch (controller)
                {
                    case "Product":
                        magazinePage = "active";
                        break;
                }
                break;
    }

    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/mainStyles.css" />
    <link rel="stylesheet" href="/css/menuStyles.css" />
    <link rel="stylesheet" href="/css/breadcrumpStyles.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="/js/jsrender.min.js"></script>*@
    @*<script>var exports = {};</script>*@
    <script src="/js/DropDownMenu.js"></script>
    <script src="/js/BreadCrumpCleaning.js"></script>

    @RenderSection("scripts", false)
</head>
<body>
    <header class="container-fluid">
        <div class="row bg-light">
            <div class=" col-md-3"></div>
            <div class="text-center col-md-6">
                <a>
                    <img src="/images/img/global-content/logo.png" alt="level">
                </a>
            </div>
            <div class="col-md-3" style="margin-top: 5px;">
                @await Component.InvokeAsync("Search")
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>


        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTilo" aria-controls="navbarTilo" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTilo">
                    <a class="navbar-brand" href="#">Level store</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: 0 auto;">
                        <li class="nav-item @magazinePage">
                            <a class="nav-link" asp-controller="Product" asp-action="List">Магазин <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown @delivery @payment @guarantees">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Доставка и оплата</a>
                            <ul class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item " asp-controller="DeliveryAndPayment" asp-action="Delivery">Доставка</a></li>
                                <li><a class="dropdown-item " asp-controller="DeliveryAndPayment" asp-action="Payment">Оплата</a></li>
                                <li><a class="dropdown-item " asp-controller="DeliveryAndPayment" asp-action="Guarantees">Гарантии</a></li>
                            </ul>
                        </li>
                        <li class="nav-item @aboutTheBrand">
                            <a class="nav-link" asp-controller="Brand" asp-action="AboutTheBrand">О бренде</a>
                        </li>
                        <li class="nav-item dropdown @ourShowRoom @deliveryDepartment @bayer @partnership @vacancy">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Контакты
                            </a>
                            <ul class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item " asp-controller="Contact" asp-action="OurShowRoom">Наш Showroom</a></li>
                                <li><a class="dropdown-item " asp-controller="Contact" asp-action="DeliveryDepartment">Отдел доставки</a></li>
                                <li><a class="dropdown-item " asp-controller="Contact" asp-action="Bayer">Bayer</a></li>
                                <li><a class="dropdown-item " asp-controller="Contact" asp-action="Partnership">Партнерство</a></li>
                                <li><a class="dropdown-item " asp-controller="Contact" asp-action="Vacancy">Вакансии</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


    </header>


    <div id="breadCrumb" class="bg-danger breadcrumpSelector" style="display: none;">
        <breadcrumb asp-homepage-title="Главная страница"
                    asp-homepage-url="@Url.Action("Index", "Home", values: new {area = ""})"
                    asp-homepage-glyphicon="fa fa-angle-double-up">
        </breadcrumb>
    </div>

    <div class="bg-light mainContent">
        @RenderBody()
    </div>


    <footer class="bg-info" style="margin-top: 10px; color:white;">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6 email">
                            <p class="footer-subheader">e-mail:</p>
                            <p>level.pochta@gmail.com</p>
                        </div>
                        <div class="col-sm-6 social">
                            <p class="footer-subheader">соц. сети:</p>
                            <a href="#"><img src="/images/img/main-page/media/facebook.svg" style="width: 30px; height: 30px;" alt="facebook" /></a>
                            <a href="#"><img src="/images/img/main-page/media/googleplus.svg" style="width: 30px; height: 30px;" alt="googleplus" /></a>
                            <a href="#"><img src="/images/img/main-page/media/instagram.svg" style="width: 30px; height: 30px;" alt="instagram" /></a>
                            <a href="#"><img src="/images/img/main-page/media/twitter.svg" style="width: 30px; height: 30px;" alt="twitter" /></a>
                            <a href="#"><img src="/images/img/main-page/media/vk.svg" style="width: 30px; height: 30px;" alt="vk" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6 address">
                            <p class="footer-subheader">адрес:</p>
                            <p><span>г. Киев, ул. Ивана Кудри №5 оф. 223</span></p>
                            <p><span>График работы:</span></p>
                            <p><span>вт-сб: 12:00-20:00</span></p>
                            <p><span>вс-пн: выходные</span></p>
                        </div>
                        <div class="col-sm-6 phone">
                            <p class="footer-subheader">телефон:</p>
                            <p><span>(096) 399 08 56</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
