@model Product
@{
    ViewData["Title"] = "ViewSingleProduct";
    Layout = "_Layout";
    string Category = TempData["Category"] as String;
    string SubCategory = TempData["SubCategory"] as String;
    List<Product> relatedProducts = TempData["relatedProducts"] as List<Product>;
    List<TypeColor> bindedColors = TempData["BindedColors"] as List<TypeColor>;
    Share share = TempData["Share"] as Share;
}

@section scripts{
    <script src="/js/ShowAndHideColorImages.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-countdown]').each(function() {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function(event) {
                    $this.html(event.strftime('%D дней %H:%M:%S'));
                });
            });
        });
    </script>
}
@{
    decimal price = Model.Price;
    decimal newPrice = price;
}

@if (share != null)
{
    if (share.DateOfStart <= DateTime.Now && share.Enabled)
    {
        <div>Акция</div>
        <div data-countdown="@share.DateOfEnd.ToString("yyyy/MM/dd HH:mm:ss").Replace('.', '/')"></div>
        newPrice = price / 100 * (decimal)(share.KoefPrice);
    }
}
<div>@Model.Name</div>
@if (newPrice != price)
{
    <span><del>@price</del></span>
    <span>@newPrice</span>
}
else
{
    <span>@price</span>
}
<div>@Model.Description</div>
<div>@Category "@SubCategory"</div>
@if (Model.Images.Count > 0)
{
    foreach (var image in Model.Images)
    {
        int colorId = bindedColors.FirstOrDefault(cn => cn.TypeColorID == image.TypeColorID)?.TypeColorID ?? 0;
        <img color="@colorId" src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
    }
}
else
{
    <img src="/images/none.png" style="width: 100px; height: 100px;" alt="none image">
}
<form asp-controller="Cart" asp-action="AddToCart">
    <input type="hidden" name="productId" value="@Model.ProductID" />
    <input type="number" name="quantity" value="1" min="0" max="1000" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <select onchange="HideAndShowImages(this)" name="selectedColor">
        <option value="0" selected >Выберите цвет</option>
        @foreach (var color in bindedColors)
        {
            <option value="@color.TypeColorID">@color.ColorType</option>
        }
    </select>
    @{
        int Antik = (int)Furniture.Antik;
        int Nikel = (int)Furniture.Nikel;
    }
    <select name="furniture">
        <option selected disabled>Выберите фурнитуру</option>
        <option value="@Antik">Антик</option>
        <option value="@Nikel">Никель</option>
    </select>
    <button type="submit">Добавить в корзину</button>
</form>
@*<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.ProductID" class="btn btn-default">Добавить в корзину</a>*@
<a asp-controller="Product" asp-action="List" class="btn btn-default">К списку</a>
@if (relatedProducts != null && relatedProducts.Any())
{
    <div>
        <p>Похожие товары:</p>
        @foreach (var rProduct in relatedProducts)
        {
            <div>@rProduct.Name</div>
            <div>@rProduct.Price</div>
            if (rProduct.Images.Count > 0)
            {
                foreach (var image in rProduct.Images)
                {
                    <img src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
                }
            }
            else
            {
                <img src="/images/none.png" style="width: 100px; height: 100px;" alt="none image">
            }
        }
    </div>

}
