@model Product
@{
    ViewData["Title"] = "ViewSingleProduct";
    Layout = "_Layout";
    string Category = TempData["Category"] as String;
    string SubCategory = TempData["SubCategory"] as String;
}

<div>@Model.Name</div>
<div>@Model.Price</div>
<div>@Model.Description</div>
<div>@Category "@SubCategory"</div>
@if (Model.Images.Count > 0)
{
    foreach (var image in Model.Images)
    {
        <img src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
    }
}
else
{
    <img src="/images/none.png" style="width: 100px; height: 100px;" alt="none image">
}
<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.ProductID" class="btn btn-default">Добавить в корзину</a>
<a asp-controller="Product" asp-action="List" class="btn btn-default">К списку</a>

<!--
<div class="container-fluid single-item__wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="main single-item__img">
                <div class="slider slider-for">
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/1-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/2-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/3-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/4-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/5-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/6-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/7-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/8-1.JPG" alt="">
                    </div>
                </div>
                <div class="slider slider-nav">
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/1-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/2-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/3-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/4-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/5-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/6-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/7-1.JPG" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="img/shop/koshelki/8-1.JPG" alt="">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 ">
            <p class="single-item__title">Лофт</p>
            <p class="single-item__price">400 грн.</p>
            <p class="single-item__description">
                Стильный дизайн, невероятная
                вместительность, комфорт и удобство - это то, что в себе
                совместил данный рюкзак. Лучший вариант для путешественников!
                Все изделие выполнено из ткани "Художественный брезент",
                внутри прочная тканевая подкладка; шлейки, клапан, дно и внешний
                карман выполнены из мраморной кожи. Имеет два больших отделения.
                одно из которых глубокое и удивительно вместительное, другое под
                клапаном, которое, в свою очередь, имеет два дополнительных отделения
                и кармашек на молнии. Также изделие имеет мини-сумку карман,
                который отстегивается и имеет два отделения на молнии (24х20 см).
            </p>
            <p class="single-item__size">Размер: 60х45х15 см</p>
            <form action="">
                <select name="single-item__color" class="single-item__select">
                    <option value="0">Выберите Цвет</option>
                    <option value="c1">Черный</option>
                    <option value="c2">Синий</option>
                    <option value="c3">Зеленый</option>
                    <option value="c4">Хаки</option>
                </select>
                <select name="single-item__furniture" class="single-item__select">
                    <option value="0">Выберите Фурнитуру</option>
                    <option value="c1">Антик</option>
                    <option value="c2">Никель</option>
                </select>
                <button type="submit" class="single-item__add-btn">Добавить в корзину</button>
            </form>
        </div>
    </div>
</div>

    -->
