@model Product
@{
    ViewData["Title"] = "ViewSingleProduct";
    Layout = "_Layout";
    string Category = TempData["Category"] as String;
    string SubCategory = TempData["SubCategory"] as String;
    List<Product> relatedProducts = TempData["relatedProducts"] as List<Product>;
    List<TypeColor> bindedColors = TempData["BindedColors"] as List<TypeColor>;
    Share share = TempData["Share"] as Share;
}

@section scripts{
    <script src="/js/ShowAndHideColorImages.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-countdown]').each(function () {
                var $this = $(this), finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function (event) {
                    $this.html(event.strftime('%D дней %H:%M:%S'));
                });
            });
        });
    </script>
}
@{
    decimal price = Model.Price;
    decimal newPrice = price;
}

<div class="container-fluid single-item__wrapper">
    <div class="row">



        <div class="col-md-6">
            <div class="slider slider-for">
                @if (Model.Images.Count > 0)
                {
                    foreach (var image in Model.Images)
                    {
                        int colorId = bindedColors.FirstOrDefault(cn => cn.TypeColorID == image.TypeColorID)?.TypeColorID ?? 0;
                        <div>
                            <img class="img-fluid" color="@colorId" src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
                        </div>
                    }
                }
                else
                {
                    <div>
                        <img class="img-fluid" src="/images/None.jpg" style="width: 100px; height: 100px;" alt="none image">
                    </div>
                }
            </div>
            <div class="slider slider-nav">
                @if (Model.Images.Count > 0)
                {
                    foreach (var image in Model.Images)
                    {
                        int colorId = bindedColors.FirstOrDefault(cn => cn.TypeColorID == image.TypeColorID)?.TypeColorID ?? 0;
                        <div>
                            <img class="img-fluid" color="@colorId" src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
                        </div>
                    }
                }
                else
                {
                    <div>
                        <img class="img-fluid" src="/images/None.jpg" style="width: 100px; height: 100px;" alt="none image">
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6 ">
            @if (share != null)
            {
                if (share.DateOfStart <= DateTime.Now && share.Enabled)
                {
                    <div>Акция</div>
                    <div data-countdown="@share.DateOfEnd.ToString("yyyy/MM/dd HH:mm:ss").Replace('.', '/')"></div>
                    if (share.Fake)
                    {
                        price = price / 100 * (decimal) (share.KoefPrice + 100);
                    }
                    else
                    {
                        newPrice = price / 100 * (decimal)(100 - share.KoefPrice);
                    }
                    
                }
            }

            <p class="single-item__title">@Model.Name</p>

            <p>@Category "@SubCategory"</p>

            <div></div>
            @if (newPrice != price)
            {
                <p class="single-item__price"><del>@price</del></p>
                <p class="single-item__price">@newPrice</p>
            }
            else
            {
                <p class="single-item__price">@price</p>
            }

            <p class="single-item__description">
                @Model.Description
            </p>

            <p class="single-item__size">@Model.Size</p>

            <form asp-controller="Cart" asp-action="AddToCart">
                <input type="hidden" name="productId" value="@Model.ProductID" />
                <input type="number" name="quantity" value="1" min="0" max="1000" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <select name="selectedColor" class="single-item__select" onchange="HideAndShowImages(this)">
                    <option value="0" selected>Выберите цвет</option>
                    @foreach (var color in bindedColors)
                    {
                        <option value="@color.TypeColorID">@color.ColorType</option>
                    }
                </select>
                @{
                    int Antik = (int) Furniture.Antik;
                    int Nikel = (int) Furniture.Nikel;
                }
                <select name="furniture">
                    <option selected disabled>Выберите фурнитуру</option>
                    <option value="@Antik">Антик</option>
                    <option value="@Nikel">Никель</option>
                </select>
                <button type="submit" class="single-item__add-btn">Добавить в корзину</button>
                <a href='javascript:history.go(-1)' class="btn btn-primary">Другие товары</a>
            </form>
        </div>
        
        @if (relatedProducts != null && relatedProducts.Any())
        {
            <div>
                <p>Похожие товары:</p>
                @foreach (var rProduct in relatedProducts)
                {
                    <div><a asp-controller="Product" asp-action="ViewSingleProduct" asp-route-productId="@rProduct.ProductID">@rProduct.Name</a></div>
                    <div>@rProduct.Price</div>
                    if (rProduct.Images.Count > 0)
                    {
                        foreach (var image in rProduct.Images)
                        {
                            <img src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
                        }
                    }
                    else
                    {
                        <img src="/images/None.jpg" style="width: 100px; height: 100px;" alt="none image">
                    }
                }
            </div>

        }
    </div>
</div>
