@model Product
@{
    ViewData["Title"] = "ViewSingleProduct";
    Layout = "_Layout";
    string Category = TempData["Category"] as String;
    string SubCategory = TempData["SubCategory"] as String;
}

<div>@Model.Name</div>
<div>@Model.Price</div>
<div>@Model.Description</div>
<div>@Category "@SubCategory"</div>
@if (Model.Images.Count > 0)
{
    foreach (var image in Model.Images)
    {
        <img src="/images/@image.Name" style="width: 100px; height: 100px;" alt="@image.Alternative">
    }
}
else
{
        <img src="/images/none.png" style="width: 100px; height: 100px;" alt="none image">
}
<a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.ProductID" class="btn btn-default">Добавить в корзину</a>
<a asp-controller="Product" asp-action="List" class="btn btn-default">К списку</a>
